:root{
  --primary:rgb(107, 156, 152);
  --header: rgb(14, 184, 223);
  --textcolor:rgb(89, 33, 221);
  --transition:all 0.3s ease;
}

/* GLOBAL RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 
body{

  font-family: 'lucida Sans','Lucida Sans Regular' , 'Lucida Grande' , 'Lucida Sans unicode' , Geneva , Verdana , sans-serif;
  background-color:var(--primary) ;
  overflow-x: hidden;

}

/* HEADER SECTION */

header{
    background-color: var(--header);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid red 2px;
    object-fit: cover;

}

.logotext{
    text-align: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--textcolor);
    text-decoration: none;

}

/* HAMBURGER SECTION */

.hamburger{
    display: none;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    z-index: 100;
}


.hamburger-line{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: var(--transition);
}

/* hamburger Active (X shape)   */

.hamburger.active .hamburger-line:nth-child(1){
  transform: rotate(45deg) translate(5px , 5px);

}
.hamburger.active .hamburger-line:nth-child(2){
  opacity: 0;
}
.hamburger.active .hamburger-line:nth-child(3){
  transform: rotate(45deg) translate(7px -6px);
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover{
    color: white;
}

/* HERO SECTION */

.hero{
    text-align: left;
    margin: 40px 0 20px;
    padding-left: 20px ;
}

.hero h2{
    font-size: 2rem;
    font-weight: bold;
    
}

.hero .red{
    color: red;
}

.tagline{
    font-size: 1.2rem;
    color: #444;
}


/* GALLERY SECTION */

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 15px;
    padding: 20px;

}

.gallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover{
    transform: scale(1.05);
}

/* VIDEO SECTION */

.videosection{
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;

}



.videosection video{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 10px;
}



h3{
    color: antiquewhite;
    text-align: center;
}

/* CONTACT SECTION */

.contact{
    text-align: center;
    margin: 50px 0 20px;
    line-height: 1.8;
    background-color: rgb(84, 84, 115);

}

.contact h3{
    color: #b0aaaa;
    font-weight: 30px;
    font-style: italic;
}

.copyright{
    text-align: center;
    background-color: rgb(83, 100, 97);
    line-height: 1.8;
    margin: 40px 0 20px;
    color: #cbcfda;
    
}




/* RESPONSIVE DESIGN */

@media (max-width: 768px){
    /* header{
        flex-wrap: wrap;
    } */

    .menu{
        display: none;
        width: 100%;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-top: 1px solid #eee;
        padding: 10px 0;
    }

    .hamburger{
        display: flex;
    }

    .menu.active{
        display: block;
    }

    .hero h2{
        font-size: 1.5rem;
    }

    .videosection video{
        max-width: 100%;
    }

    .gallery img{
        height: 200px;
    }


}







